{
  "version": "2018-05-29",
  "operation": "Query",
  "query": {
    "expression": "#partition = :partition and begins_with(#sort, "ALBUM")",
    "expressionValues": {
      ":partition": { "S" : "{$ctx.args.albumId}"}
    },
    "expressionNames": {
      "#partition": "partition"
      "#sort": "sort"
    }
  }
}
