#set( $attrValues = $ctx.args)
#set( $attrValues.owner = $ctx.identity.username )

{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "albumId": $util.dynamodb.toStringJson($util.autoId()),
    "artistId": $util.dynamodb.toStringJson($ctx.args.artistId)
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($attrValues)
}
