{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "albumId": $util.dynamodb.toStringJson($util.autoId()),
    "artistId": $util.dynamodb.toStringJson($ctx.args.artistId)
  },
  $util.quiet(#set( $attrValues = $ctx.args) )
  $util.quiet(#set( $attrValues.owner = "${$ctx.identity.username}" ))
  "attributeValues": $util.dynamodb.toMapValuesJson($attrValues)
}
