#set($attribs = $ctx.args)
#set($attribs.owner = $ctx.identity.username)
#set($artistId = $util.autoId())
$util.qr($ctx.stash.put("artistId", $artistId))

{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "artistId": { "S" : "${artistId}" }
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($attribs)
}