{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "userId": $util.dynamodb.toStringJson($ctx.args.userId)
  },
  "condition": {
    "expression": "attribute_not_exists(#artistId)",
    "expressionNames": {
      "#artistId": "artistId"
    }
  }
}