#set($attribs = $ctx.args)
#set($attribs.owner = $ctx.identity.username)
#set($artistId = $util.autoId())
## $util.qr($ctx.stash.put("artistId", $artistId))

{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "artistId": $util.dynamodb.toStingJson($artistId)
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($attribs)
}