{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "userId": { "S": "${ctx.identity.username}" }
  },
  "attributeValues": {
    "artistId": { "S": "${ctx.stash.artistId}" }
  },
  "condition": {
    "expression": "attribute_not_exists(userId)"
  }
}