#set($attribs = $ctx.args)
#set($attribs.owner = $ctx.identity.username)
#set($artistId = $util.autoId())
#set($ctx.stash.artistId = $artistId)

{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "artistId": { "S" : "${artistId}" }
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($attribs)
}