{
  "version": "2018-05-29",
  "operation": "Query",
  "query": {
    "expression": "#partition = :artistId and #sort = :albumId",
    "expressionValues": {
      ":artistId" : { "S": "ALBUM#${ctx.args.artistId}" },
      ":albumId" : { "S" }
    },
    "expressionNames": {
      "#sort": "partition", ## HASH and RANGE are swapped in gsi-1
      "#partition": 'sort'
    }
  },
  "index": "gsi-1"
}
