#set($result = [])


#foreach($item in $ctx.result.items)
  $util.qr($result.add({
    "albumId": "${item.partition}",
    "artistId": "${item.sort}",
    "title": "${item.title}",
    "published": "${item.published}"
  }))
#end

$util.toJson($result)
