## $util.toJson($ctx.result)

#set($returnValues = $ctx.result.items[0])

$util.qr($returnValues.put("artistId", $returnValues.sort))
$util.qr($returnValues.put("albumId", $returnValues.partition))
$util.qr($returnValues.put("partition", null))
$util.qr($returnValues.put("sort", null))

$util.toJson($returnValues)