{
  "version": "2018-05-29",
  "operation": "Query",
  "query": {
    "expression": "#partition = :featured and begins_with(#sort, :albumIdPrefix)",
    "expressionNames": {
      "#partition": "partition",
      "#sort": "sort"
    },
    "expressionValues": {
      ":featured": { "S": "FEATURED" },
      ":albumIdPrefix": { "S": "album_" }
    }
  }
}