#set($result = [])

#foreach($item in $ctx.result.items)
  #set($itemToAdd = {})
  $util.qr($itemToAdd.put("songId", $item.sort))
  $util.qr($itemToAdd.put("title", $item.title))
  $util.qr($itemToAdd.put("imageSource", $item.imageSource))

  $util.qr($result.add($itemToAdd))
#end

$util.qr($ctx.stash.put("songs", $result))

{}