#set($result = [])

#foreach($item in $ctx.result.items)
  #set($itemToAdd = {})
  $util.qr($itemToAdd.put("songId", "$item.partition"))
  $util.qr($itemToAdd.put("artistId", "$item.sort"))
  $util.qr($itemToAdd.put("title", "$item.title"))

  $util.qr($result.add($itemToAdd))
#end

$util.toJson($result)