#if($ctx.result.items.isEmpty()) ## No user yet. TODO: Initialte Artist and User creation (instead of doing it in the client)
  $util.toJson({
    "userNotExists": true
  })
#else
  $util.toJson({
    "userId": $ctx.result.partition,
    "artistId": $ctx.result.sort
  })
#end
