#set($result = $ctx.result.items)

#if(result.isEmpty()) ## No user yet. TODO: Initialte Artist and User creation (instead of doing it in the client)
  $util.toJson({
    "userNotExists": true
  })
#else
  $util.toJson({
    "userId": $ctx.result.items[0].partition,
    "artistId": $ctx.result.items[0].sort
  })
#end
